[submodule "alternate-implementations/opentrace/opentrace-android"]
	path = alternate-implementations/opentrace/opentrace-android
	url = https://github.com/opentrace-community/opentrace-android
[submodule "alternate-implementations/opentrace/opentrace-ios"]
	path = alternate-implementations/opentrace/opentrace-ios
	url = https://github.com/opentrace-community/opentrace-ios
[submodule "alternate-implementations/au/COVIDSafe_1.0.11.apk"]
	path = alternate-implementations/au/android/COVIDSafe_1.0.11.apk
	url = https://git.sr.ht/~ghuntley/COVIDSafe_1.0.11.apk
[submodule "implementation/android/uk.nhs.nhsx.colocate_1.0.0.208"]
	path = implementation/android/uk.nhs.nhsx.colocate_1.0.0.208
	url = https://github.com/timb-machine/uk.nhs.nhsx.colocate_1.0.0.208
[submodule "implementation/android/COVID-19-app-Android-BETA"]
	path = implementation/android/COVID-19-app-Android-BETA
	url = https://github.com/nhsx/COVID-19-app-Android-BETA
[submodule "implementation/ios/COVID-19-app-iOS-BETA"]
	path = implementation/ios/COVID-19-app-iOS-BETA
	url = https://github.com/nhsx/COVID-19-app-iOS-BETA
[submodule "design/COVID-19-app-Documentation-BETA"]
	path = design/COVID-19-app-Documentation-BETA
	url = https://github.com/nhsx/COVID-19-app-Documentation-BETA
[submodule "alternate-implementations/no/Smittestopp-dekompilert"]
	path = alternate-implementations/no/Smittestopp-dekompilert
	url = https://github.com/petterroea/Smittestopp-dekompilert
[submodule "alternate-implementations/au/android/mobile-android"]
	path = alternate-implementations/au/android/mobile-android
	url = https://github.com/AU-COVIDSafe/mobile-android
[submodule "alternate-implementations/au/ios/mobile-ios"]
	path = alternate-implementations/au/ios/mobile-ios
	url = https://github.com/AU-COVIDSafe/mobile-ios
[submodule "opensource-research/press/covid-19_instant_tracing"]
	path = opensource-research/press/covid-19_instant_tracing
	url = https://github.com/BDI-pathogens/covid-19_instant_tracing
